@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --dark: #354259;
  --darkigh: #485975;
  --brown: #cdc2ae;
  --gold: #ece5c7;
  --green: #c2ded1;
  --dgreen: #97aca2;
}
body {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  background: var(--dark);
}
span {
  color: #2bd6b4;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  padding-right: 10%;
  bottom: 15%;
  background-color: transparent;
}
.nav a {
  color: var(--gold);
  font-size: 30px;
  text-decoration: none;
}
.nav a:hover {
  color: var(--green);
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 5%;
  min-height: 100vh;
}
.intro-title {
  font-size: 86px;
  color: var(--green);
}
.name {
  color: var(--gold);
}
.intro-sub {
  margin-top: -65px;
  font-size: 35px;
  color: var(--green);
}
.intro-desc {
  font-size: 22px;
  max-width: 40%;
  text-align: justify;
  padding-bottom: 50px;
  margin-top: -20px;
  color: var(--dgreen);
}
.intro-contact {
  text-decoration: none;
  color: var(--gold);
  font-size: 25px;
  font-weight: bolder;
  padding: 15px 30px;
  cursor: pointer;
  border: 3px solid var(--gold);
  border-radius: 4px;
}
.container {
  display: flex;
  flex-direction: row;
}
.about-me {
  padding-left: 15%;
  padding-right: 20%;
  min-height: 60vh;
}
#about h1:after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 40px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--darkigh);
}
.about-me h1 {
  display: flex;
  padding-bottom: 32px;
  font-size: 46px;
  font-weight: 700;
  color: var(--gold);
}
/* Image div */
.face {
  padding-left: 40px;
}
/* Actual Image */
.face img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: 30px;
  box-shadow: 6px 13px 23px -5px rgb(0 0 0 / 46%);
  border: none;
}
/* About me description */
.container p {
  font-size: 21px;
  color: var(--dgreen);
  text-align: justify;
  margin: 0;
  max-width: 600px;
}
