@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --dark: #354259;
  --darkigh: #485975;
  --brown: #cdc2ae;
  --gold: #ece5c7;
  --green: #c2ded1;
  --dgreen: #97aca2;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  background: var(--dark);
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  padding-right: 10%;
  bottom: 15%;
  background-color: transparent;
}
.nav a {
  color: var(--gold);
  font-size: 30px;
  text-decoration: none;
}
.nav a:hover {
  color: var(--green);
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 5%;
  min-height: 100vh;
}
.intro-title {
  font-size: 86px;
  color: var(--green);
}
.name {
  color: var(--gold);
}
.intro-sub {
  margin-top: -65px;
  font-size: 35px;
  color: var(--green);
}
.intro-desc {
  font-size: 22px;
  max-width: 70%;
  text-align: justify;
  padding-bottom: 50px;
  margin-top: -20px;
  color: var(--dgreen);
}
.intro object {
  max-width: 350px;
}
.img-desc {
  display: flex;
  flex-direction: row;
}
.man {
  margin-top: 5%;
  margin-right: 30%;
}
.intro-contact {
  text-decoration: none;
  color: var(--gold);
  font-size: 25px;
  font-weight: bolder;
  padding: 15px 30px;
  cursor: pointer;
  border: 3px solid var(--gold);
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: row;
}
.about-me {
  padding-top: 5px;
  padding-left: 15%;
  padding-right: 20%;
  min-height: 60vh;
}
#about h1:after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 40px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--darkigh);
}
.about-me h1 {
  display: flex;
  padding-bottom: 32px;
  font-size: 46px;
  font-weight: 700;
  color: var(--gold);
}
.about-me a {
  text-decoration: none;
  color: var(--gold);
  font-weight: 32px;
}
#stack {
  padding-top: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 10px));
}
.tech-stack {
  list-style: none;
}
.tech-stack li {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  color: var(--gold);
}
.tech-stack li::before {
  content: "▹ ";
  color: var(--gold);
  position: absolute;
  left: 0;
}
#job-desc li {
  color: var(--dgreen);
  font-size: 21px;
  text-align: justify;
}
/* Image div */
.face {
  padding-left: 40px;
}
/* Actual Image */
.face img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: 30px;
  box-shadow: 6px 13px 23px -5px rgb(0 0 0 / 46%);
  border: none;
}
/* About me description */
.container p {
  font-size: 21px;
  color: var(--dgreen);
  text-align: justify;
  margin: 0;
  max-width: 600px;
}
#experience {
  margin-top: 50px;
}
#experience h1::after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 40px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--darkigh);
}
#date {
  color: var(--brown);
}
.exptitle {
  color: var(--gold);
  padding-bottom: 20px;
  max-width: 600px;
  font-size: 13px;
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: var(--gold);
  font-size: 15px;
}
.footer a {
  text-decoration: none;
  color: var(--green);
}
@media only screen and (min-width: 300px) {
}
